### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [72]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [73]:
playercount=len(purchase_data["SN"].unique())
uniqueplayers=(purchase_data["SN"].unique())
playercount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [74]:
uniqueitems=len(purchase_data["Item Name"].unique())
avgprice=purchase_data["Price"].mean()
totalssales=purchase_data["Price"].sum()
numpurchases=purchase_data["Purchase ID"].max()
framedata={"Number of Unique Items":[uniqueitems],"Average Price":f"${avgprice}","Number of Purchases":[numpurchases],"Total Sales":f"${totalssales}"}
sales_df=pd.DataFrame(framedata)
sales_df

   Number of Unique Items       Average Price  Number of Purchases Total Sales
0                     179  $3.050987179487176                  779    $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [88]:

genderlist=[]
agelist=[]
for name in uniqueplayers:
    newname_df=purchase_data.query("SN==@name")
    gender=newname_df["Gender"].iloc[0]
    age=newname_df["Age"].iloc[0]
    genderlist.append(gender)
    agelist.append(age)


unique_values={"SN":uniqueplayers,"Gender":genderlist,"Age":agelist}
genderlist=[]
u_users_pd=pd.DataFrame(unique_values)
uniquegendercount=u_users_pd["Gender"].value_counts()
genderframe_pd=pd.DataFrame(uniquegendercount)
genderframe_pd["Percentage"]=genderframe_pd*100/playercount
genderframe_pd.rename(columns={"Gender":"Count"})
genderframe_pd

                       Gender  Percentage
Male                      484   84.027778
Female                     81   14.062500
Other / Non-Disclosed      11    1.909722

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
genderlist=purchase_data["Gender"].value_counts().keys().tolist()
genpurchases=purchase_data["Gender"].value_counts().tolist()
avgpurchase=[]
totalpurchase=[]
avgpurchasepp=[]
for gender in genderlist:
    genderdata=purchase_data.loc[purchase_data["Gender"]==gender]
    avergen=genderdata.iloc[:,6].mean()
    avergen=str(avergen)
    avgpurchase.append("$"+avergen[0:4])
    sumgen=genderdata.iloc[:,6].sum()
    sumgen=str(sumgen)
    totalpurchase.append("$"+sumgen)
    gendermembervalues=genderdata["SN"].unique()
    individualmemsales=[]
    for element in gendermembervalues:
        newname_df=purchase_data.query("SN==@element")
        membersum=newname_df.iloc[:,6].sum()
        individualmemsales.append(membersum)
    individualavg="$"+str(np.mean(individualmemsales))
    avgpurchasepp.append(individualavg[0:6])

genderframe={"Gender":genderlist,"Purchase Count":genderpurchases,"Average Purchase":avgpurchase,"Total Purchase Value":totalpurchase,"Avg Total Purchase Per Person":avgpurchasepp}

genderpurchasestats__df=pd.DataFrame(genderframe)
genderpurchasestats__df.style.hide_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

In [86]:
#Establishing Bins
Agebins=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
agebinsq=[0,0,0,0,0,0,0,0]
for element in unique_values["Age"]:
    if element<10:
        agebinsq[0]+=1
    elif element<15:
        agebinsq[1]+=1
    elif element<20:
        agebinsq[2]+=1
    elif element<25:
        agebinsq[3]+=1
    elif element<30:
        agebinsq[4]+=1
    elif element<35:
        agebinsq[5]+=1
    elif element<40:
        agebinsq[6]+=1
    elif element>=40:
        agebinsq[7]+=1
agebinspcnt=[]

for element in agebinsq:
    percent=element/sum(agebinsq)*100
    percentstr=str(percent)
    percentstr=percentstr[0:5]+"%"
    agebinspcnt.append(percentstr)

framedata={"Age Bracket":Agebins,"Total Count":agebinsq,"Percentage of Players":agebinspcnt}
agedata_df=pd.DataFrame(framedata)
agedata_df.style.hide_index()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
#Establishing Bins
Agebins=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
agebinsq=[0,0,0,0,0,0,0,0]
#Do this using loc for each age group

20
40
24
24
23
22
36
20
22
35
23
23
21
22
35
21
20
21
22
30
20
20
38
40
30
29
11
7
21
24
19
37
10
7
19
22
30
8
10
21
20
20
18
24
24
23
27
20
20
33
21
22
20
32
10
25
12
21
23
19
34
17
30
20
20
25
21
20
15
24
29
20
25
21
25
33
13
34
7
26
23
8
16
25
21
32
33
20
30
22
21
20
21
22
19
18
16
20
23
23
30
21
24
24
24
27
22
36
19
22
25
21
21
15
22
28
21
21
30
15
25
23
16
27
21
20
24
37
21
19
25
22
23
20
15
30
22
20
33
13
20
10
35
34
18
23
18
35
20
17
17
25
20
21
20
10
40
18
31
25
24
20
17
11
22
15
22
23
20
16
22
30
21
30
30
17
17
30
20
24
24
16
38
21
28
20
30
8
18
23
27
23
25
27
20
39
35
24
20
15
23
31
37
33
16
17
20
24
37
22
32
17
23
29
23
15
21
38
23
19
40
30
22
22
25
24
25
18
20
17
24
26
31
19
16
24
16
20
21
30
16
22
16
24
24
20
24
20
44
20
23
22
39
21
23
24
23
26
26
20
16
24
15
24
35
25
30
16
17
15
38
22
8
15
29
30
16
24
21
20
20
19
21
21
24
26
25
20
18
25
24
20
13
22
37
23
22
16
25
11
22
25
20
24
24
20
24
34
34
25
30
8
20
23
24
23
25
18
20
33
24
33
18
23
15
23
25
22
17
20
23
23
25
17
21
33
22
15
22
8
22
41
21
23
23
19
18
23
18
20
15
21
22
25
21
15
20
23
24
18
29
25
22
25
22
25
22
30
20
23
19
23
35
25
16
25
33
20
23
18
25
16
24
34
21
22
21
26
17
15
26
18
20
20
12
17
20
25
34
19
22
15
23
24
21
25
15
19
12
15
20
10
32
12
23
22
25
30
25
33
23
30
24
24
10
15
23
24
24
22
15
33
18
21
20
21
32
24
23
22
29
15
21
26
21
25
7
22
18
13
18
15
19
24
25
20
20
25
29
30
25
24
20
25
22
24
23
16
23
24
29
23
22
21
31
24
21
41
22
21
40
7
32
35
35
26
9
14
23
28
24
22
23
14
30
24
23
15
35
24
20
32
20
23
23
19
30
22
16
23
22
21
35
25
21
7
39
39
29
24
22
37
18
24
25
24
23
24
22
21
24
12
16
19
10
20
20
25
25
11
29
31
17
24
34
16
9
18
20
25
20
20
15
28
22
23
20
42
25
23
21
22
30
38
22
20
20
20
17
20
20
16
17
26
23
9
20
19
29
25
24
23
20
20
20
22
23
22
25
30
20
20
22
25
27
22
27
15
22
15
16
11
20
25
24
18
28
15
24
25
7
16
21
21
30
20
20
16
29
15
21
20
25
21
30
20
16
25
19
25
23
27
17
22
16
29
22
24
24
27
22
20
23
21
26
17
23
24
39
15
30
24
20
32
24
15
26
21
7
36
38
20
21
25
31
17
20
40
15
22
20
30
9
30
43
16
24
27
33
10
25
33
24
15
23
22
8
35
35
33
15
24
9
23
22
38
30
19
30
17
31
25
19
21
18
22
20
20
21
19
22
20
25
22
16
23
23
30
37
16
19
20
22
21
25
18
23
20
44
20
30
22
9
20
25
24
23
22
36
35
22
19
20
15
22
39
23
38
20
20
22
11
17
36
23
12
20
18
21
25
21
45
26
21
18
18
23
8
38
15
34
16
26
21
11
21
21
20
7
24

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80