### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [4]:
playercount=purchase_data["SN"].nunique()
uniqueplayers=(purchase_data["SN"].unique())
playercount

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
uniqueitems=purchase_data["Item Name"].nunique()
avgprice=purchase_data["Price"].mean()
totalssales=purchase_data["Price"].sum()
numpurchases=purchase_data["Purchase ID"].max()
framedata={"Number of Unique Items":[uniqueitems],"Average Price":f"${avgprice}","Number of Purchases":[numpurchases],"Total Sales":f"${totalssales}"}
sales_df=pd.DataFrame(framedata)
sales_df.style.hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [88]:
#This is for my first, and manual, attempt
genderlist=[]
agelist=[]
for name in uniqueplayers:
    newname_df=purchase_data.query("SN==@name")
    gender=newname_df["Gender"].iloc[0]
    age=newname_df["Age"].iloc[0]
    genderlist.append(gender)
    agelist.append(age)


unique_values={"SN":uniqueplayers,"Gender":genderlist,"Age":agelist}
genderlist=[]
u_users_pd=pd.DataFrame(unique_values)
uniquegendercount=u_users_pd["Gender"].value_counts()
genderframe_pd=pd.DataFrame(uniquegendercount)
genderframe_pd["Percentage"]=genderframe_pd*100/playercount
genderframe_pd.rename(columns={"Gender":"Count"})
genderframe_pd

                       Gender  Percentage
Male                      484   84.027778
Female                     81   14.062500
Other / Non-Disclosed      11    1.909722

In [19]:
genderpurchase=purchase_data.groupby("Gender")
genderpurchase=pd.DataFrame(genderpurchase["SN"].nunique())
genderpurchase=genderpurchase.rename(columns={"SN":"Gender Counts"})
genderpurchase["Percentage Total"]=genderpurchase["Gender Counts"]*100/genderpurchase["Gender Counts"].sum()
genderpurchase["Percentage Total"]=genderpurchase["Percentage Total"].astype(float).map(
    "{:,.2f}%".format)
genderpurchase

                       Gender Counts Percentage Total
Gender
Female                            81           14.06%
Male                             484           84.03%
Other / Non-Disclosed             11            1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [85]:
#Manual Version
genderlist=purchase_data["Gender"].value_counts().keys().tolist()
genpurchases=purchase_data["Gender"].value_counts().tolist()
avgpurchase=[]
totalpurchase=[]
avgpurchasepp=[]
for gender in genderlist:
    genderdata=purchase_data.loc[purchase_data["Gender"]==gender]
    avergen=genderdata.iloc[:,6].mean()
    avergen=str(avergen)
    avgpurchase.append("$"+avergen[0:4])
    sumgen=genderdata.iloc[:,6].sum()
    sumgen=str(sumgen)
    totalpurchase.append("$"+sumgen)
    gendermembervalues=genderdata["SN"].unique()
    individualmemsales=[]
    for element in gendermembervalues:
        newname_df=purchase_data.query("SN==@element")
        membersum=newname_df.iloc[:,6].sum()
        individualmemsales.append(membersum)
    individualavg="$"+str(np.mean(individualmemsales))
    avgpurchasepp.append(individualavg[0:6])

genderframe={"Gender":genderlist,"Purchase Count":genderpurchases,"Average Purchase":avgpurchase,"Total Purchase Value":totalpurchase,"Avg Total Purchase Per Person":avgpurchasepp}

genderpurchasestats__df=pd.DataFrame(genderframe)
genderpurchasestats__df.style.hide_index()

In [122]:
gendertable=purchase_data.groupby("Gender")
gendertable_df=pd.DataFrame(gendertable["Purchase ID"].nunique())
gendertable_df=gendertable_df.rename(columns={"Purchase ID":"Number of Purchases"})
gendertable_df["Average Purchase"]=gendertable["Price"].mean()
gendertable_df["Total Purchase Value"]=gendertable["Price"].sum()
temp=purchase_data.groupby(["Gender","SN"])
genderlist=purchase_data["Gender"].value_counts().keys().tolist()
temp=temp["Price"].sum()
gendertable_df["Avg Total Purchase Per Person"]=[temp.loc[genderlist[0]].mean(),temp.loc[genderlist[1]].mean(),temp.loc[genderlist[2]].mean()]
gendertable_df["Average Purchase"]=gendertable_df["Average Purchase"].astype(float).map("${:,.2f}".format)
gendertable_df["Total Purchase Value"]=gendertable_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
gendertable_df["Avg Total Purchase Per Person"]=gendertable_df["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)
gendertable_df

,Number of Purchases,Average Purchase,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.07
Male,652,$3.02,"$1,967.64",$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [103]:
Agebins=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
agebinsq=[0,9,14,19,24,29,34,39,999]
purchase_data_age=purchase_data
purchase_data_age["Age Category"]=pd.cut(purchase_data["Age"],agebinsq,labels=Agebins,include_lowest=True)
temp=purchase_data_age.groupby("Age Category")
ageorder=pd.DataFrame(temp["SN"].nunique())
ageorder=ageorder.rename(columns={"SN":"Users in Age Category"})
ageorder["Percentage Total"]=ageorder["Users in Age Category"]*100/ageorder["Users in Age Category"].sum()
ageorder["Percentage Total"]=ageorder["Percentage Total"].astype(float).map(
    "{:,.2f}%".format)
ageorder

              Users in Age Category Percentage Total
Age Category
<10                              17            2.95%
10-14                            22            3.82%
15-19                           107           18.58%
20-24                           258           44.79%
25-29                            77           13.37%
30-34                            52            9.03%
35-39                            31            5.38%
40+                              12            2.08%

In [86]:
#Establishing Bins the Manual Way
Agebins=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
agebinsq=[0,0,0,0,0,0,0,0]
for element in unique_values["Age"]:
    if element<10:
        agebinsq[0]+=1
    elif element<15:
        agebinsq[1]+=1
    elif element<20:
        agebinsq[2]+=1
    elif element<25:
        agebinsq[3]+=1
    elif element<30:
        agebinsq[4]+=1
    elif element<35:
        agebinsq[5]+=1
    elif element<40:
        agebinsq[6]+=1
    elif element>=40:
        agebinsq[7]+=1
agebinspcnt=[]

for element in agebinsq:
    percent=element/sum(agebinsq)*100
    percentstr=str(percent)
    percentstr=percentstr[0:5]+"%"
    agebinspcnt.append(percentstr)

framedata={"Age Bracket":Agebins,"Total Count":agebinsq,"Percentage of Players":agebinspcnt}
agedata_df=pd.DataFrame(framedata)
agedata_df.style.hide_index()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [136]:
#Establishing Bins

Agebins=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
agebinsq=[0,9,14,19,24,29,34,39,999]
purchase_data_age=purchase_data
purchase_data_age["Age Category"]=pd.cut(purchase_data["Age"],agebinsq,labels=Agebins,include_lowest=True)
agetemp=purchase_data_age.groupby("Age Category")
agetable_df=pd.DataFrame(agetemp["Purchase ID"].nunique())
agetable_df=agetable_df.rename(columns={"Purchase ID":"Number of Purchases"})
agetable_df["Average Purchase"]=agetemp["Price"].mean()
agetable_df["Total Purchase Value"]=agetemp["Price"].sum()
temp=purchase_data.groupby(["Age Category"])
agelist=temp["Age Category"].value_counts().keys().tolist()
temp=temp["Price"].sum()
totalperperson=[]
for value in range(0,len(Agebins)):
    totalperperson.append(temp.loc[agelist[value]].mean())

agetable_df["Avg Total Purchase Per Person"]=totalperperson
agetable_df["Average Purchase"]=agetable_df["Average Purchase"].astype(float).map("${:,.2f}".format)
agetable_df["Total Purchase Value"]=agetable_df["Total Purchase Value"].astype(float).map("${:,.2f}".format)
agetable_df["Avg Total Purchase Per Person"]=agetable_df["Avg Total Purchase Per Person"].astype(float).map("${:,.2f}".format)
agetable_df

IndexingError: Too many indexers

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80